<%- include("partials/header.ejs") %>

<h1>Edit Your Blog Post</h1>
<form action="/edit/<%= id %>" method="POST">
  <input type="text" name="title" value="<%= post.title %>" required />
  <textarea style="height: 300px;" name="content" required><%= post.content %></textarea>
  <button type="submit">Update Post</button>
</form>
<a href="/">⬅️ Back to Home</a>

<%- include("partials/footer.ejs") %>
